*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

/* делаю через флексы, блок отцентрирован ✅ */ 
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* ✅ */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* блок прижат снизу, есть своя ширина и минимальная высота и свои отступы, корректно работает с прелоадером ошибки ✅ */
.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  min-block-size: 534px;
  column-gap: 30px;
}

/* у блока заданы размеры и отступ снизу ✅ */
.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

/* видео растянется на весь родительский блок ✅ */
.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* элементы встали в строку и распределены пространством между ними и прижаты сверху ✅ */
.search-form {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* отступ определяет гап у дочерних элементов и элементы прижаты влево ✅ */
.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

/* стили и отступ снизу, высоту строки задал в абсолютные единицы, не понимаю как можно меньше 1 поставить и будет несоотвествие с макетом */
.search-form__fieldset-title {
  font-weight: inherit;
  font-size: inherit;
  line-height: 21.6px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: fit-content;
}

.search-form__label:hover:not(:has(.search-form__textfield)) {
  cursor: url(/images/cursor.svg), url(/images/cursor.png), pointer;
  text-decoration: underline;
}

/* стили, курсор стоит по дефолту, на случай если у пользователя отключены ховер-эффекты ✅ */
.search-form__textfield {
  background-color: transparent;
  inline-size: 225px;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-inline-start: none;
  border-inline-end: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 21.6px;
  color: inherit;
  appearance: none;
  cursor: text;
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

/* ✅ */
.search-form__textfield:hover {
  cursor: url(/images/cursor-text.svg), url(/images/cursor-text.png), text;
}

.search-form__textfield:is(:focus, :focus-visible) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* добавил границу при нажатии согласно макету, фокус перестал появлятся при наведении, работает только после нажатия ✅ */
.search-form__label:has(.search-form__textfield:active) {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__checkbox-list {
  inline-size: 212px;
  min-block-size: 22px;
  display: flex;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  display: block;
  margin: 1px;
}

/* сбросил уникальные стили кнопок у браузеров, есть дефолт курсора, удалил свойство перенос по пробелам из-за изменения контента будут различные несовпадения, в топку ✅ */
.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 21.6px;
  text-align: center;
  appearance: none;
  cursor: pointer;
}

:is(.button:hover, .content__card-link:hover) {
  cursor: url(/images/cursor.svg), url(/images/cursor.png), pointer;
  text-decoration: underline;
}

/* удалил состояния фокуса у .content__list, но при табе в браузере мозила появляется у этого элемента стандартный стиль фокуса, 50\50 ситуация, считаю что он интерактивный, можно наверное убрать состояние фокуса и в мазиле не будет появлятся ❓️ PS: интерактивный=кликабельный и он не является(но при табе выбивается из общего стиля), в топку */
:is(.button:focus, .content__card-link:focus) {
  outline: none;
}

:is(.button:focus-visible, .content__card-link:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

:is(.button:active, .content__card-link:active) {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  inline-size: 194px;
  block-size: 34px;
}

/* максимальная ширина и высота, основная ось стала вертикальной, есть отступ между заголовком и зоной с карточками ✅ */
.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: flex-start;
}

/* стили, 70.5px/75px=0,94 для относительной высоты строки, но не получится миниум значение 1 принимает, есть em и rem, но расчеты через онлайн калькуляторы не привели к такому же результату с макетом, пока не знаю пусть будет пока абсолютная величина ❓ */
.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

/* стили ✅ */
.content__accent {
  color: #545050;
}

/* ограничил максимальную высоту, контент обрезан и добавлен скролл, спозиционирован относительно и прелоадер занимает весь родительский размер ✅ */
.content__list {
  max-block-size: 298px;
  overflow: auto;
  position: relative;
  block-size: 100%;
}

/* с помощью псевдокласса добавлены отступы снизу всем, кроме последнего ✅ */
.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

/* стили ✅ */
.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

/* сделал флекс-элементом, элементы встали в строку и прижаты сверху ✅ */
.content__video-card {
  display: flex;
  align-items: flex-start;
  padding: 2px;
}

/* взял всё в свои руки доступное пространство и сказал своим детям отойти на 6 шагов назад ✅ */
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

/* при переполнении текста будет показываться троеточие и перенос слов по пробелам не работает, скролл скрыт, проблема с переполнением решена ✅ */
.content__video-card-description-container .content__video-card-title, .content__video-card-description {
  max-inline-size: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* стили ✅ */
.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* стили ✅ */
.content__video-card-description {
  line-height: 16.2px;
}

/* задал размеры картинкам и сделал элемент блочным ✅ */
.content__video-card-thumbnail {
  display: block;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* установил отступы, чтобы рамка была видна по всем сторонам ✅ */
.more-button {
  inline-size: 399px;
  block-size: 34px;
  margin: 2px;
}

/* 🤗 */
.content__card-link_current {
  background-color: #545050;
}